@model List<MyApp.Models.Item>
@{
    ViewData["Title"] = "Index";
}

<h3>Items</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            @* <th> *@
            @*     Options *@
            @* </th> *@
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price.ToString("N2")
                </td>
                @* <td> *@
                @*     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> *@
                @*     <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                @* </td> *@
            </tr>
        }
    </tbody>
</table>